<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Templates</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Hello World!</h1>

    <p>This was created by <span th:text="${author}"></span></p>
    <p>His favorite TV show is <span th:text="${favoriteTV}"></span></p>
    <p>His favorite movie is <span th:text="${favoriteMovie}"></span></p>

    <h2>Favorite Foods</h2>

    <ul>
        <li th:each="food : ${favoriteFoods}" th:text="${food}"></li>
    </ul>

    <img src="../img/Parker-1.jpg" style="width:200px" alt="Parker">
</body>
</html>